.quoraBox {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 10px;
    margin-top: 20px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}
.quoraBoxInfo {
    display: flex;
    align-items: center;
}
.quoraBoxInfo h5 {
    color: rgb(129, 129, 129);
    font-weight: 300;
    margin-left: 10px;
}
.quoraBoxInfo .quoraInput {
    width: 100%;
    margin-left: 10px;
}
.quoraBoxInfo input:hover  {
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}
.other {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}